 <!--
Mohan Raj Nandagopal
Footer page 
Express Mohan Portfolio
 -->
<!-- 

Footer section start -->
        <div class="footer">
            <p>&copy; Mohan Raj Nandagopal 2015 All Rights Reserved</p>
        </div>
        <!-- Footer section end -->